@page
@model IndexModel

@{
    ViewData["Title"] = "Members";
}

@{ Html.RenderPartial("_CreateTemplate", Model.CreateModel); }

<table class="table table-hover">
    <thead>
        <tr>
            <th> Name</th>
            <th>Email</th>
            <th>Phone</th>   
            <th>Gender</th> 
            <th>Birthdate</th>  
            <th></th>        
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model.Members)
        {
            <tr>
                <td>@p.Item.LastName, @p.Item.FirstName</td>
                <td>@p.Item.Email</td>
                <td>@p.Item.Phone</td>   
                <td>@p.Item.Gender</td> 
                <td>@p.Item.Birthdate.ToString("MM/dd/yyyy")</td>  
                <td>
                    <a asp-page="/Members/Update" asp-route-id="@p.Item.RowId">edit</a>
                    <a asp-page="/Members/Delete" asp-route-id="@p.Item.RowId">delete</a>
                </td>        
            </tr>
        }
    </tbody>
</table>